<div class="box box-info no-border">
  <div class="box-header bh_with_bg">
    <h2 class="box-title text-white">Popularity trends</h2>
  </div>
  <div class="box-body fs15px" style="overflow-x: hidden">
    <div class="trend_variant row" *ngFor="let data of popularityTrends">
      <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
        <a class="bold" href="/Love">{{ data.name }}</a>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
        <span class="copy_variant">{{ data.subName }}</span>
      </div>
      <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
        <div class="variant_votes">
          <span class="vote_green">
            <i class="fa nfi-p"></i> {{ data.like }}</span
          >
          <span class="vote_red">
            <i class="fa nfi-m"></i> {{ data.dislike }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
