<div class="box box-info no-border">
  <div class="box-header bh_with_bg">
    <h2 class="box-title text-white">Popularity trends</h2>
  </div>
  <div class="box-body fs15px" style="overflow-x: hidden">
    <div class="trend_variant row">
      <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
        <a class="bold" href="/Love">Love</a> &nbsp;<span
          class="text-nowrap fs12pt color_dark_gray"
        >
          <i
            class="fa nfi-up text-green opct_07 fs15px"
            onclick="voteFromTrends(this, 'p')"
          ></i>
          22&nbsp;
          <i
            class="fa nfi-dn text-red opct_05"
            onclick="voteFromTrends(this, 'm')"
          ></i>
          11</span
        >
      </div>
      <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
        <span class="copy_variant" data-clipboard-text="×͜×ㅤ𝙰𝙻𝙾𝙽𝙴ㅤ𝙱𝙾𝚈"
          >×͜×ㅤ𝙰𝙻𝙾𝙽𝙴ㅤ𝙱𝙾𝚈</span
        >
      </div>
      <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
        <div class="variant_votes">
          <span
            class="vote_green"
            onclick="sendVariantVote(this, 8546027, 'p', 'Love');return false;"
          >
            <i class="fa nfi-p"></i> 101327</span
          >
          <span
            class="vote_red"
            onclick="sendVariantVote(this, 8546027, 'm', 'Love');return false;"
          >
            <i class="fa nfi-m"></i> 51767</span
          >
        </div>
      </div>
    </div>
    <div class="trend_variant row">
      <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
        <a class="bold" href="/freefire">freefire</a> &nbsp;<span
          class="text-nowrap fs12pt color_dark_gray"
        >
          <i
            class="fa nfi-up text-green opct_07 fs15px"
            onclick="voteFromTrends(this, 'p')"
          ></i>
          16&nbsp;
          <i
            class="fa nfi-dn text-red opct_05"
            onclick="voteFromTrends(this, 'm')"
          ></i>
          15</span
        >
      </div>
      <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
        <span class="copy_variant" data-clipboard-text="꧁☆☬κɪɴɢ☬☆꧂"
          >꧁☆☬κɪɴɢ☬☆꧂</span
        >
      </div>
      <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
        <div class="variant_votes">
          <span
            class="vote_green"
            onclick="sendVariantVote(this, 470588, 'p', 'freefire');return false;"
          >
            <i class="fa nfi-p"></i> 398615</span
          >
          <span
            class="vote_red"
            onclick="sendVariantVote(this, 470588, 'm', 'freefire');return false;"
          >
            <i class="fa nfi-m"></i> 311100</span
          >
        </div>
      </div>
    </div>

    <div class="trend_variant row">
      <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
        <a class="bold" href="/Christmas">Christmas</a> &nbsp;<span
          class="text-nowrap fs12pt color_dark_gray"
        >
          <i
            class="fa nfi-up text-green opct_07 fs15px"
            onclick="voteFromTrends(this, 'p')"
          ></i>
          14&nbsp;
          <i
            class="fa nfi-dn text-red opct_05"
            onclick="voteFromTrends(this, 'm')"
          ></i>
          11</span
        >
      </div>
      <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
        <span class="copy_variant" data-clipboard-text="𝑀𝑒𝓇𝓇𝓎 𝒞𝒽𝓇𝒾𝓈𝓉𝓂𝒶𝓈"
          >𝑀𝑒𝓇𝓇𝓎 𝒞𝒽𝓇𝒾𝓈𝓉𝓂𝒶𝓈</span
        >
      </div>
      <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
        <div class="variant_votes">
          <span
            class="vote_green"
            onclick="sendVariantVote(this, 5687215, 'p', 'Christmas');return false;"
          >
            <i class="fa nfi-p"></i> 396</span
          >
          <span
            class="vote_red"
            onclick="sendVariantVote(this, 5687215, 'm', 'Christmas');return false;"
          >
            <i class="fa nfi-m"></i> 180</span
          >
        </div>
      </div>
    </div>
    <div class="trend_variant row">
      <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
        <a class="bold" href="/stylish">stylish</a> &nbsp;<span
          class="text-nowrap fs12pt color_dark_gray"
        >
          <i
            class="fa nfi-up text-green opct_07 fs15px"
            onclick="voteFromTrends(this, 'p')"
          ></i>
          17&nbsp;
          <i
            class="fa nfi-dn text-red opct_05"
            onclick="voteFromTrends(this, 'm')"
          ></i>
          6</span
        >
      </div>
      <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
        <span class="copy_variant" data-clipboard-text="𓊈𒆜ᴮᴬᴰʙᴏʏᖭツ𒆜𓊉"
          >𓊈𒆜ᴮᴬᴰʙᴏʏᖭツ𒆜𓊉</span
        >
      </div>
      <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
        <div class="variant_votes">
          <span
            class="vote_green"
            onclick="sendVariantVote(this, 1602546, 'p', 'stylish');return false;"
          >
            <i class="fa nfi-p"></i> 19461</span
          >
          <span
            class="vote_red"
            onclick="sendVariantVote(this, 1602546, 'm', 'stylish');return false;"
          >
            <i class="fa nfi-m"></i> 17162</span
          >
        </div>
      </div>
    </div>

    <div class="trend_variant row">
      <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
        <a class="bold" href="/alone">alone</a> &nbsp;<span
          class="text-nowrap fs12pt color_dark_gray"
        >
          <i
            class="fa nfi-up text-green opct_07 fs15px"
            onclick="voteFromTrends(this, 'p')"
          ></i>
          12&nbsp;
          <i
            class="fa nfi-dn text-red opct_05"
            onclick="voteFromTrends(this, 'm')"
          ></i>
          0</span
        >
      </div>
      <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
        <span class="copy_variant" data-clipboard-text="×͜×ㅤ𝙰𝙻𝙾𝙽𝙴ㅤ𝙱𝙾𝚈"
          >×͜×ㅤ𝙰𝙻𝙾𝙽𝙴ㅤ𝙱𝙾𝚈</span
        >
      </div>
      <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
        <div class="variant_votes">
          <span
            class="vote_green"
            onclick="sendVariantVote(this, 8986126, 'p', 'alone');return false;"
          >
            <i class="fa nfi-p"></i> 8103</span
          >
          <span
            class="vote_red"
            onclick="sendVariantVote(this, 8986126, 'm', 'alone');return false;"
          >
            <i class="fa nfi-m"></i> 4563</span
          >
        </div>
      </div>
    </div>
    <div class="trend_variant row">
      <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
        <a class="bold" href="/PUBG">PUBG</a> &nbsp;<span
          class="text-nowrap fs12pt color_dark_gray"
        >
          <i
            class="fa nfi-up text-green opct_07 fs15px"
            onclick="voteFromTrends(this, 'p')"
          ></i>
          7&nbsp;
          <i
            class="fa nfi-dn text-red opct_05"
            onclick="voteFromTrends(this, 'm')"
          ></i>
          0</span
        >
      </div>
      <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
        <span class="copy_variant" data-clipboard-text="★彡[ᴅᴇᴀᴅ ᴋɪʟʟᴇʀ]彡★"
          >★彡[ᴅᴇᴀᴅ ᴋɪʟʟᴇʀ]彡★</span
        >
      </div>
      <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
        <div class="variant_votes">
          <span
            class="vote_green"
            onclick="sendVariantVote(this, 516689, 'p', 'PUBG');return false;"
          >
            <i class="fa nfi-p"></i> 224633</span
          >
          <span
            class="vote_red"
            onclick="sendVariantVote(this, 516689, 'm', 'PUBG');return false;"
          >
            <i class="fa nfi-m"></i> 101304</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
