<div class="box box-info">
  <div class="box-body">
    <p>
      If you want to run a new website, you will need cool, effective and
      memorable domain name. Use generators on this page to find new ideas and
      create impressive web address.
    </p>

    <h2>Domain name generator #1</h2>
    <p>
      The base of this generator is a big set of most popular english words
      improved with effective patterns. It especially useful to create "easy to
      understand and remember" website names. Try it and get inspiration for
      your project title.
    </p>

    <form id="generator_form_web_2" onsubmit="return false;">
      <div class="col-sm-7 generator_area" id="some_random_variants_web_2">
        <div
          class="one_generated_variant vt_df_bg"
          onclick="pickWebsiteName(this, 'dessionlymem', 'web_2')"
        >
          dessionlymem<span class="color_gray">.com</span>
        </div>
        <div
          class="one_generated_variant vt_df_bg"
          onclick="pickWebsiteName(this, 'andeenr', 'web_2')"
        >
          andeenr<span class="color_gray">.com</span>
        </div>
        <div
          class="one_generated_variant vt_df_bg"
          onclick="pickWebsiteName(this, 'offecanu', 'web_2')"
        >
          offecanu<span class="color_gray">.com</span>
        </div>
        <div
          class="one_generated_variant vt_df_bg"
          onclick="pickWebsiteName(this, 'nouldren', 'web_2')"
        >
          nouldren<span class="color_gray">.com</span>
        </div>
      </div>
      <div class="col-sm-5 no_lr_padding_on_phones">
        <div class=""></div>
        <input
          type="text"
          id="first_letters_web_2"
          name="first_letters_web_2"
          onkeyup="this.value = this.value.replace(/[^a-zA-Z\dа-яА-ЯёЁ]/g, '');"
          class="form-control input-sm"
          placeholder="First letters (optional)..."
        />
        <div class="height_7_pt"></div>
        <span
          class="btn btn-sc btn-block"
          onclick="generateAnotherWebsiteNameVariants(this, 'web_2');"
          >Generate another</span
        >
      </div>
    </form>
    <div
      id="web_results_web_2"
      class="web_results"
      style="clear: both; padding: 5px 15px"
    ></div>
    <hr />

    <h2>Website name generator #2</h2>
    <p>
      This generator based on the most complete english words database and
      produces wide range of unpredictable variants.
    </p>

    <form id="generator_form_web_1" onsubmit="return false;">
      <div class="col-sm-7 generator_area" id="some_random_variants_web_1">
        <div
          class="one_generated_variant vt_df_bg"
          onclick="pickWebsiteName(this, 'itimilow', 'web_1')"
        >
          itimilow<span class="color_gray">.com</span>
        </div>
        <div
          class="one_generated_variant vt_df_bg"
          onclick="pickWebsiteName(this, 'andorded', 'web_1')"
        >
          andorded<span class="color_gray">.com</span>
        </div>
        <div
          class="one_generated_variant vt_df_bg"
          onclick="pickWebsiteName(this, 'ofaustoo', 'web_1')"
        >
          ofaustoo<span class="color_gray">.com</span>
        </div>
        <div
          class="one_generated_variant vt_df_bg"
          onclick="pickWebsiteName(this, 'foreseumen', 'web_1')"
        >
          foreseumen<span class="color_gray">.com</span>
        </div>
      </div>
      <div class="col-sm-5 no_lr_padding_on_phones">
        <div class=""></div>
        <input
          type="text"
          id="first_letters_web_1"
          name="first_letters_web_1"
          onkeyup="this.value = this.value.replace(/[^a-zA-Z\dа-яА-ЯёЁ]/g, '');"
          class="form-control input-sm"
          placeholder="First letters (optional)..."
        />
        <div class="height_7_pt"></div>
        <span
          class="btn btn-sc btn-block"
          onclick="generateAnotherWebsiteNameVariants(this, 'web_1');"
          >Generate another</span
        >
      </div>
    </form>
    <div
      id="web_results_web_1"
      class="web_results"
      style="clear: both; padding: 5px 15px"
    ></div>
    <hr />

    <h2>Domain URL generator #3</h2>
    <p>
      It based on names of billions top successful websites of the world. The
      base of generator created using super effective letter combinations and
      patterns. Use it for inspiration or pick one of the variants.
    </p>

    <form id="generator_form_web_3" onsubmit="return false;">
      <div class="col-sm-7 generator_area" id="some_random_variants_web_3">
        <div
          class="one_generated_variant vt_df_bg"
          onclick="pickWebsiteName(this, 'fainclarre', 'web_3')"
        >
          fainclarre<span class="color_gray">.com</span>
        </div>
        <div
          class="one_generated_variant vt_df_bg"
          onclick="pickWebsiteName(this, 'strui', 'web_3')"
        >
          strui<span class="color_gray">.com</span>
        </div>
        <div
          class="one_generated_variant vt_df_bg"
          onclick="pickWebsiteName(this, 'anstenvouinfa', 'web_3')"
        >
          anstenvouinfa<span class="color_gray">.com</span>
        </div>
        <div
          class="one_generated_variant vt_df_bg"
          onclick="pickWebsiteName(this, 'itiseeivedge', 'web_3')"
        >
          itiseeivedge<span class="color_gray">.com</span>
        </div>
      </div>
      <div class="col-sm-5 no_lr_padding_on_phones">
        <div class=""></div>
        <input
          type="text"
          id="first_letters_web_3"
          name="first_letters_web_3"
          onkeyup="this.value = this.value.replace(/[^a-zA-Z\dа-яА-ЯёЁ]/g, '');"
          class="form-control input-sm"
          placeholder="First letters (optional)..."
        />
        <div class="height_7_pt"></div>
        <span
          class="btn btn-sc btn-block"
          onclick="generateAnotherWebsiteNameVariants(this, 'web_3');"
          >Generate another</span
        >
      </div>
    </form>
    <div
      id="web_results_web_3"
      class="web_results"
      style="clear: both; padding: 5px 15px"
    ></div>
  </div>
</div>
