<div class="box box-info" id="mix_generator_block">
  <div class="box-header">
    <h2 class="box-title">
      The name generator for couple. Combine two names to make one. Copy in one
      click
    </h2>
  </div>
  <div class="box-body no_padding_top">
    <form id="mixer_form" name="mixer_form">
      <div
        class="col-md-6 generator_area"
        id="some_mixed_variants"
        style="margin-bottom: 7pt"
      >
        <div
          class="one_generated_variant vt_df_bg one_mixed_variant"
          data-clipboard-text="XzaI"
        >
          XzaI&nbsp;<i class="fa nfi-copy"></i>
        </div>
        <div
          class="one_generated_variant vt_df_bg one_mixed_variant"
          data-clipboard-text="YaretVion"
        >
          YaretVion&nbsp;<i class="fa nfi-copy"></i>
        </div>
        <div
          class="one_generated_variant vt_df_bg one_mixed_variant"
          data-clipboard-text="OnYare"
        >
          OnYare&nbsp;<i class="fa nfi-copy"></i>
        </div>
        <div
          class="one_generated_variant vt_df_bg one_mixed_variant"
          data-clipboard-text="YaretzVion"
        >
          YaretzVion&nbsp;<i class="fa nfi-copy"></i>
        </div>
        <div
          class="one_generated_variant vt_df_bg one_mixed_variant"
          data-clipboard-text="ZavionYare"
        >
          ZavionYare&nbsp;<i class="fa nfi-copy"></i>
        </div>
      </div>
      <div class="col-md-6 no_lr_padding_on_phones">
        <div class="row">
          <div class="col-xs-6" style="padding-right: 5px">
            <input
              type="text"
              id="mix_name_1"
              name="mix_name_1"
              onkeyup="this.value = this.value.replace(/[^a-zA-Zа-яА-ЯЁё]/g, '');"
              class="form-control input-sm bold"
              placeholder="Name 1..."
              value="Xzavion"
            />
            <div class="height_7_pt"></div>
          </div>
          <div class="col-xs-6" style="padding-left: 5px">
            <input
              type="text"
              id="mix_name_2"
              name="mix_name_2"
              onkeyup="this.value = this.value.replace(/[^a-zA-Zа-яА-ЯЁё]/g, '');"
              class="form-control input-sm bold"
              placeholder="Name 2..."
              value="Yaretzi"
            />
            <div class="height_7_pt"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6" style="opacity: 0.8; padding-right: 5px">
            <input
              type="text"
              id="mix_name_3"
              name="mix_name_3"
              onkeyup="this.value = this.value.replace(/[^a-zA-Zа-яА-ЯЁё]/g, '');"
              class="form-control input-sm bold"
              placeholder="Name 3 (optional)..."
            />
            <div class="height_7_pt"></div>
          </div>
          <div class="col-xs-6" style="opacity: 0.8; padding-left: 5px">
            <input
              type="text"
              id="mix_name_4"
              name="mix_name_4"
              onkeyup="this.value = this.value.replace(/[^a-zA-Zа-яА-ЯЁё]/g, '');"
              class="form-control input-sm bold"
              placeholder="Name 4 (optional)..."
            />
            <div class="height_7_pt"></div>
          </div>
        </div>
        <div id="just_mixed_and_selected" style="display: none">
          <small class="hidden-xs">Already copied to the clipboard</small>
          <input id="just_m_value" type="text" class="form-control" />
          <div class="height_7_pt"></div>
        </div>
        <span
          id="main_mix_btn"
          class="btn btn-warning btn-block generator_main_btn"
          >Mix Again</span
        >
      </div>
    </form>
    <div class="height_7_pt"></div>
  </div>
</div>

<div class="box box-info">
  <div class="box-body">
    <div class="mb_5_pt">
      <p>
        There are many ways to combine two names into one. On this page you can
        create interesting combinations of two, three or even four names. A
        quick and convenient way to find new baby name ideas. This generator can
        also help you come up with a name for your business, business
        partnership, or find a new way to name your couple.
      </p>
    </div>
  </div>
</div>
