<div class="box box-info">
  <div id="fancy_symbols_wrapper" class="box-body">
    <div class="text-center">
      <div style="display: inline-block; width: 280px; position: relative">
        <span
          (click)="makeAnotherPasswords()"
          id="the_copy_btn"
          class="btn btn-warning generator_main_btn btn-lg btn-block"
          ><i class="fa nfi-re"></i> Generate another!</span
        >
      </div>
    </div>

    <hr style="margin: 11px 0" />
    <div id="results_area" class="text-center">
      <div
        class="one_variant f_variant_wr"
        *ngFor="let data of randomPasswords"
      >
        <div class="copy_variant fv_item">
          {{ data }}
        </div>
      </div>
    </div>
    <div style="padding: 10px 20px 0">
      <p>
        This is a very basic and simple tool with which you can create a fairly
        strong password for websites, online games, phones. Please note: if you
        need a password for use in important services, we recommend that you use
        a professional desktop software instead of an online generator. This is
        not a professional tool. Use this generator to create common random
        passwords with a few mouse clicks.
      </p>

      <h3>This online password generator uses reliable crypto algorithms:</h3>

      <blockquote>
        <div class="bold">random_bytes</div>
        <div class="height_5_pt"></div>
        <p>
          <i
            >Generates an arbitrary length string of cryptographic random bytes
            that are suitable for cryptographic use, such as when generating
            salts, keys or initialization vectors.</i
          >
        </p>
        <small>https://php.net/manual/en/function.random-bytes.php</small>
      </blockquote>

      <blockquote>
        <div class="bold">random_int</div>
        <div class="height_5_pt"></div>
        <p>
          <i
            >Generates cryptographic random integers that are suitable for use
            where unbiased results are critical...</i
          >
        </p>
        <small>https://php.net/manual/en/function.random-int.php</small>
      </blockquote>

      <p>
        These algorithms are used together with nickfinder's own generator
        module.
      </p>
      <p>
        Nickfinder.com does not store the generated passwords, so we can not
        restore them if you create a new set or leave the page.<br />
        Write down the password in a safe place before using it.
      </p>
    </div>
  </div>
</div>
