<div class="box box-info no-border">
  <div class="box-header bh_with_bg">
    <h2 class="box-title text-white">Recent nicknames</h2>
  </div>
  <div class="box-body">
    <div class="one_last_search_link"><a href="/JailBird">JailBird</a></div>
    <div class="one_last_search_link"><a href="/Bisho">Bisho</a></div>
    <div class="one_last_search_link">
      <a href="/Mrcriminal">Mrcriminal</a>
    </div>
    <div class="one_last_search_link"><a href="/RoyalKing">RoyalKing</a></div>
    <div class="one_last_search_link">
      <a href="/Kanjutbadag">Kanjutbadag</a>
    </div>
    <div class="one_last_search_link"><a href="/Tufan">Tufan</a></div>
    <div class="one_last_search_link"><a href="/Harsh">Harsh</a></div>
    <div class="one_last_search_link">
      <a href="/Royalsarkar">Royalsarkar</a>
    </div>
    <div class="one_last_search_link"><a href="/Chandan">Chandan</a></div>
    <div class="one_last_search_link"><a href="/Prisci">Prisci</a></div>
    <div class="one_last_search_link"><a href="/Kings">Kings</a></div>
    <div class="one_last_search_link"><a href="/Paula">Paula</a></div>
    <div class="one_last_search_link"><a href="/NewName">NewName</a></div>
    <div class="one_last_search_link"><a href="/Ninja">Ninja</a></div>
    <div class="one_last_search_link">
      <a href="/Mrabhistar">Mrabhistar</a>
    </div>
    <div class="one_last_search_link"><a href="/Bentot">Bentot</a></div>
    <div class="one_last_search_link"><a href="/Na">Na</a></div>
    <div class="one_last_search_link"><a href="/Christmas">Christmas</a></div>
    <div class="one_last_search_link"><a href="/pia">pia</a></div>
    <div class="one_last_search_link"><a href="/MRSAHILFF">MRSAHILFF</a></div>
    <div class="one_last_search_link"><a href="/Chaudhary">Chaudhary</a></div>
    <div class="one_last_search_link"><a href="/Boku">Boku</a></div>
    <div class="one_last_search_link"><a href="/KING">KING</a></div>
    <div class="one_last_search_link"><a href="/Faisal">Faisal</a></div>
    <div class="one_last_search_link"><a href="/Rahul">Rahul</a></div>
    <div class="one_last_search_link"><a href="/alu">alu</a></div>
    <div class="one_last_search_link"><a href="/Juminten">Juminten</a></div>
    <div class="one_last_search_link"><a href="/MRKAIF">MRKAIF</a></div>
    <div class="one_last_search_link"><a href="/TS">TS</a></div>
    <div class="one_last_search_link">
      <a href="/ToTalGAMING">ToTalGAMING</a>
    </div>
    <div class="one_last_search_link"><a href="/s">s</a></div>
    <div class="one_last_search_link"><a href="/Ayush">Ayush</a></div>
    <div class="one_last_search_link"><a href="/Creation">Creation</a></div>
    <div class="one_last_search_link"><a href="/Aiya">Aiya</a></div>
    <div class="one_last_search_link"><a href="/Maa">Maa</a></div>
  </div>
</div>
