mat-toolbar {
  background: #354861;
  color: white;
}

mat-sidenav {
  width: 280px;
  border-right: none;
  background: #fff;
  color: black;
  text-align: center !important;
}

.content {
  height: 100%;
  width: 100%;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center !important;
}
.divider {
  background-color: lightgray;
}
