<div class="box box-info">
  <div class="box-body">
    <form id="contact_form" class="contact_form" onsubmit="return false;">
      <input
        type="text"
        class="form-control"
        name="name"
        placeholder="Name..."
        style="max-width: 240px"
      />

      <div class="height_10_pt"></div>

      <input
        type="text"
        class="form-control"
        name="email"
        placeholder="E-Mail..."
        style="max-width: 240px"
      />

      <div class="height_10_pt"></div>

      <textarea
        class="form-control"
        name="message_text"
        placeholder="Message text..."
        rows="8"
      ></textarea>

      <div class="height_15_pt"></div>

      <span class="btn btn-pr btn-lg mb_5_pt">Send message</span>
    </form>
  </div>
</div>
