<div class="box box-info">
  <div class="box-body">
    <p>
      Nickfinder.com believes strongly in the values of privacy and
      transparency. To that end, we’ve created this Cookie Statement as a clear
      reference guide to the use of cookies on Nickfinder.com. This Cookie
      Statement explains how we use cookies (and other locally stored data
      technologies), how third-party cookies are used on Nickfinder.com, and how
      you can manage your cookie options.
    </p>

    <p>
      Nickfinder.com actively collects some types of information with a variety
      of commonly-used technologies. These generally include tracking pixels,
      JavaScript, and a variety of "locally stored data" technologies, such as
      cookies and local storage.
    </p>

    <h3>1. What is a cookie?</h3>

    <p>
      A “cookie” is a tiny data file that we transfer onto your computer, mobile
      phone, or any other device that you use to access the Nickfinder.com,
      generally used for authentication and tracking. Every cookie expires after
      a certain period of time, but that period varies depending on what the
      cookie is used for and how your browser is configured.
    </p>

    <p>
      A “session” cookie is one that generally expires when you close your web
      browser or mobile application.
    </p>
    <p>
      A “persistent” cookie is one that remains in your device, even after you
      close your browser or mobile application.
    </p>
    <p>
      A persistent cookie expires according to the duration set by us (or when
      you delete it manually). Learn more on Wikipedia.
    </p>

    <p>
      You may remove or disable cookies through your browser settings. For more
      information on how to manage your cookie options, please see Section 5 of
      this Cookie Statement below.
    </p>

    <h3>2. How do we use cookies?</h3>
    <p>
      We use the information we receive from cookies and other locally stored
      data to make your experience with the Nickfinder.com safer and better, to
      gain a greater understanding of user preferences and interactions with the
      Nickfinder.com, and to generally improve our services.
    </p>

    <p>
      Cookies and other locally stored data, JavaScript, and tracking pixels
      help us do things like:
    </p>

    <ul>
      <li>
        Provide you with a personalized experience, such as using cookies to
        know your language preference, to remember the user preferences you set
        so we can provide you with the customized look and feel that you want,
        and to tell you about interesting Nickfinder.com issues and events in
        your area.
      </li>
      <li>
        Deliver more relevant content to you faster. For example, we may use
        local storage to store your voting history directly on your device, so
        they can be retrieved quickly. Also, we may use cookies to learn about
        the nicknames searched so that we can optimize the search results we
        deliver to you.
      </li>
      <li>
        Understand how you use the Nickfinder.com, so that we know what works
        and what is useful. For example, we might use cookies to learn about the
        list of articles you are following on your watchlist so that we can
        recommend similar articles that you may be interested in.
      </li>
      <li>
        Understand how you use the Nickfinder.com across different devices, so
        that we can make our varied Nickfinder.com more efficient and effective
        for you.
      </li>
      <li>
        Make the Nickfinder.com more convenient to use, such as by using cookies
        to maintain your session when you log in or to remember your username in
        the login field.
      </li>
    </ul>

    <h3>3. What types of cookies does Nickfinder.com use?</h3>
    <p>
      The cookies and other locally stored data technologies used by the
      Nickfinder.com generally fall into the following categories:
    </p>

    <ol>
      <li>
        Functionality: These cookies help the Nickfinder.com work, including
        essential features like logging in or voting.
      </li>
      <li>
        Preferences: These cookies store your preferences, so that they can be
        remembered the next time you use the Nickfinder.com.
      </li>
      <li>
        Performance and Analysis: These cookies collect information about how
        you use the Nickfinder.com, so that we can better understand how the
        Nickfinder.com work and improve them for you and other users.
      </li>
      <li>
        Third-Party: These cookies allow us to render services provided by third
        parties, such as “like” and “share” buttons, ads and other services.
        When a third party provides these kinds of services, they may require
        the use of a cookie in order to provide their services.<br />
        <b>We show only non-personalized ads to users in the EEA</b>.
      </li>
    </ol>

    <p>This Website installs the following cookies:</p>
    <div style="margin: 10px 20px">
      <table class="table table-condensed">
        <tr>
          <th>Cookie name(s)</th>
          <th>Purpose</th>
          <th>Owner</th>
        </tr>
        <tr>
          <td>PHPSESSID</td>
          <td>Session Cookie</td>
          <td>Own</td>
        </tr>
        <tr>
          <td>votes_history_val</td>
          <td>History of your votes</td>
          <td>Own</td>
        </tr>
        <tr>
          <td>european_cookies</td>
          <td>Cookies agreement status</td>
          <td>Own</td>
        </tr>
        <tr>
          <td>Google Analytics cookies</td>
          <td>
            Read more:
            <a
              rel="nofollow"
              target="_blank"
              href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=en"
              >https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=en</a
            >
          </td>
          <td>Google</td>
        </tr>
        <tr>
          <td>Google Adsense cookies</td>
          <td>Displaying ads</td>
          <td>Google</td>
        </tr>
      </table>
    </div>

    <h3>4. How do third parties use cookies on Nickfinder.com?</h3>
    <p>
      Third-party cookies allow us to render services provided by third parties,
      such as “like” and “share” buttons, ads and other services. When a third
      party provides these kinds of services, they may require the use of a
      cookie in order to provide their services.<br />
      Read also
      <a
        href="https://policies.google.com/technologies/partner-sites?hl=en"
        rel="nofollow"
        target="_blank"
        >"How Google uses information from sites or apps that use our services"
        at <i>policies.google.com</i></a
      >
    </p>

    <h3>5. What are my cookie options?</h3>
    <p>
      Here are some of the things that you can do to limit use of cookies and
      other locally stored data on your device.
    </p>

    You can:
    <ol>
      <li>
        remove or disable specific locally stored data on your browser’s
        settings;
      </li>
      <li>use a browser that can block third-party cookies;</li>
      <li>
        install a plug-in to block locally stored data, if one is available; or
      </li>
      <li>leave Nickfinder.com.</li>
    </ol>

    <p>
      We believe this data collection helps improve your user experience, but
      you may remove or disable some or all locally stored data through your
      browser settings, depending on your browser. While cookies and other
      locally stored data may not be necessary to use our, some features may not
      function properly if you disable locally stored data.
    </p>

    <h3>6. Where can I find more information?</h3>
    <p>
      Please read through our Terms Of Use for more information. If you have any
      further questions, use contact form.
    </p>

    <p>Thanks!</p>

    <p>
      Please note that in the event of any differences in meaning or
      interpretation between the original English version of this document and a
      translation, the original English version takes precedence.
    </p>

    <hr />

    <p class="color_gray copyright">
      This text is available under the Creative Commons Attribution-ShareAlike
      License; additional terms may apply.
    </p>
    <p class="color_gray copyright">
      Source: https://wikimediafoundation.org/wiki/Cookie_statement. Text was
      modified.
    </p>
  </div>
</div>
