<div class="box">
  <div class="box-body">
    <div
      style="
        background-color: #f9fcff;
        border: 3px solid #8eb4e6;
        padding: 10px;
        margin: 0 auto 8px;
      "
    >
      <table style="">
        <tr>
          <td style="border: none; padding: 0px; width: 1px"></td>
          <td style="">
            <div
              style="
                text-align: center;
                font-weight: bold;
                padding: 0.3em 0;
                background-color: #8eb4e6;
              "
            >
              <div style="font-size: 150%">Terms of Use</div>
            </div>
            <div style="padding: 0.3em">
              This is a human-readable <b>summary</b> of the Terms of Use.
            </div>
            <div style="font-size: 80%; font-style: italic; padding: 0.3em">
              Disclaimer: This summary is not a part of the Terms of Use and is
              not a legal document. It is simply a handy reference for
              understanding the full terms. <br />Think of it as the
              user-friendly interface to the legal language of our Terms of Use.
            </div>
            <br />
            <div style="text-align: left; padding: 0.3em">
              <p><b>Part of our mission is to</b>:</p>
              <ul>
                <li>
                  <b>Empower and Engage</b> people around the world to collect
                  and develop educational content and either publish it under a
                  free license or dedicate it to the public domain.
                </li>
                <li>
                  <b>Disseminate</b> this content effectively and globally, free
                  of charge.
                </li>
              </ul>
              <p><b>You are free to</b>:</p>
              <ul>
                <li>
                  <b>Read and Print</b> our articles and other media free of
                  charge.
                </li>
                <li>
                  <b>Share and Reuse</b> our articles and other media under free
                  and open licenses.
                </li>
                <li><b>Contribute To and Edit</b> our site.</li>
              </ul>
              <p><b>Under the following conditions</b>:</p>
              <ul>
                <li>
                  <b>Responsibility</b> – You take responsibility for your
                  edits.
                </li>
                <li>
                  <b>Civility</b> – You support a civil environment and do not
                  harass other users.
                </li>
                <li>
                  <b>Lawful Behavior</b> – You do not violate copyright or other
                  laws.
                </li>
                <li>
                  <b>No Harm</b> – You do not harm our technology
                  infrastructure.
                </li>
                <li>
                  <b>Terms of Use and Policies</b> – You adhere to the below
                  Terms of Use and to the applicable community policies when you
                  visit our sites or participate in our communities.
                </li>
              </ul>
              <p><b>With the understanding that</b>:</p>
              <ul>
                <li>
                  <b>You License Freely Your Contributions</b> – you generally
                  must license your contributions and edits to our site under a
                  free and open license (unless your contribution is in the
                  public domain).
                </li>
                <li>
                  <b>No Professional Advice</b> – the content of articles and
                  other Nickfinder.com is for informational purposes only and
                  does not constitute professional advice.
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <h3>Our Terms of Use</h3>
    <p>
      To support our vibrant community, we provide the essential infrastructure.
      We strive to make and keep educational and informational content from
      Nickfinder.com available on the internet free of charge, in perpetuity.
    </p>
    <p>
      We (Nickfinder.com site administrator with friends) welcome you (“you” or
      the “user”) as a reader, editor, author, or contributor of Nickfinder.com,
      and we encourage you to join Nickfinder.com community. Before you
      participate, however, we ask that you please read and agree to the
      following Terms of Use (“Terms of Use”). If you do not agree with our
      Terms of Use, you cannot use our services.
    </p>

    <h3>Overview</h3>
    <p>
      These Terms of Use tell you about our public services at the
      Nickfinder.com, our relationship to you as a user, and the rights and
      responsibilities that guide us both. We want you to know that we host an
      incredible quantity of educational and informational content, some of
      which is contributed and made possible by users like yourself. This means
      that editorial control is in the hands of you and your fellow users who
      create and manage the content. We merely host this content.
    </p>
    <p>
      The community – the network of users who are constantly building and using
      Nickfinder.com – are the principal means through which the goals of the
      mission are achieved. The community contributes to and helps govern our
      site.
    </p>
    <p>
      You are welcome to join as a contributor, editor, or author, but you
      should follow the policies. Because we are dedicated to making content
      freely accessible to the public, we generally require that all content you
      contribute is available under a free license or in the public domain.
    </p>
    <p>
      Please be aware that you are legally responsible for all of your
      contributions, edits, and re-use of Nickfinder.com content under the laws
      of the Russian Federation and other applicable laws (which may include the
      laws where you live or where you view or edit content). This means it is
      important that you use caution when posting content. In light of this
      responsibility, we have some rules about what you cannot post, most of
      which is either for your own protection or for the protection of other
      users like yourself. Please keep in mind that the content we host is for
      general informational purposes only, so if you need expert advice for a
      particular question (such as medical, legal, or financial issues), you
      should seek the help of a licensed or qualified professional. We also
      include other important notices and disclaimers, so please read these
      Terms of Use in their entirety.
    </p>

    <h3>1. Our Services</h3>
    <p>
      Nickfinder.com is dedicated to encouraging the growth, development and
      distribution of free multilingual content, and to hosting the full content
      for the public free of charge. However, we act only as a hosting service,
      maintaining the infrastructure and organizational framework that allows
      our users to build Nickfinder.com by contributing and editing content
      themselves. Because of our unique role, there are a couple of things you
      should be aware of when considering our relationship to you and the other
      users:
    </p>
    <ol>
      <li>
        <b>We do not take an editorial role:</b> Because Nickfinder.com is
        collaboratively edited, all of the content that we host is provided by
        users like yourself, and we do not take an editorial role. This means
        that we generally do not monitor or edit the content of the
        Nickfinder.com websites, and we do not take any responsibility for this
        content. Similarly, we do not endorse any opinions expressed via our
        services, and we do not represent or guarantee the truthfulness,
        accuracy, or reliability of any submitted community content. Instead, we
        simply provide access to the content that your fellow users have
        contributed and edited. However, any of your contributions or changes
        can be rejected or deleted at any time without explanation.
      </li>
      <li>
        <b>You are responsible for your own actions:</b> You are legally
        responsible for your edits and contributions on Nickfinder.com, so for
        your own protection you should exercise caution and avoid contributing
        any content that may result in criminal or civil liability under any
        applicable laws. For clarity, applicable law includes at least the laws
        of the Russian Federation and the United States of America. Although we
        may not agree with such actions, we warn editors and contributors that
        authorities may seek to apply other country laws to you, including local
        laws where you live or where you view or edit content. We generally
        cannot offer any protection, guarantee, immunity or indemnification.
      </li>
    </ol>

    <h3>2. Privacy Policy</h3>
    <p>
      Because our services are used by people all over the world, personal
      information that we collect may be stored and processed in the Russian
      Federation or the United States of America or any other country in which
      we or our agents maintain facilities. By using our services, you consent
      to any such transfer of information outside your country.
    </p>

    <h3>3. Content We Host</h3>
    <ol>
      <li>
        <b>You may find some material objectionable or erroneous:</b> Because we
        provide a wide array of content that is produced or gathered by fellow
        users, you may encounter material that you find offensive, erroneous,
        misleading, mislabeled, or otherwise objectionable. We therefore ask
        that you use common sense and proper judgment when using our services.
      </li>
      <li>
        <b>Our content is for general informational purposes only:</b> Although
        we host a great deal of information, this content is presented for
        general informational purposes only. It should not be taken as
        professional advice. Please seek independent professional counseling
        from someone who is licensed or qualified in the applicable area in lieu
        of acting on any information, opinion, or advice contained in website.
      </li>
    </ol>

    <h3>4. Refraining from Certain Activities</h3>
    <p>
      Nickfinder.com only exist because of the vibrant community of users like
      you who collaborate to write, edit, and curate the content. We happily
      welcome your participation in this community. We encourage you to be civil
      and polite in your interactions with others in the community, to act in
      good faith, and to make edits and contributions aimed at furthering the
      mission of the shared Nickfinder.com.
    </p>
    <p>
      Certain activities, whether legal or illegal, may be harmful to other
      users and violate our rules, and some activities may also subject you to
      liability. Therefore, for your own protection and for that of other users,
      you may not engage in such activities on our sites. These activities
      include:
    </p>
    <dl>
      <dd><b>Harassing and Abusing Others</b></dd>
    </dl>
    <dl>
      <dd>
        <dl>
          <dd>
            <ul>
              <li>
                Engaging in harassment, threats, stalking, spamming, or
                vandalism; and
              </li>
              <li>
                Transmitting chain mail, junk mail, or spam to other users.
              </li>
            </ul>
          </dd>
        </dl>
      </dd>
    </dl>
    <dl>
      <dd><b>Violating the Privacy of Others</b></dd>
    </dl>
    <dl>
      <dd>
        <dl>
          <dd>
            <ul>
              <li>
                Infringing the privacy rights of others under the laws of the
                Russian Federation or the United States of America or other
                applicable laws (which may include the laws where you live or
                where you view or edit content);
              </li>
              <li>
                Soliciting personally identifiable information for purposes of
                harassment, exploitation, violation of privacy, or any
                promotional or commercial purpose not explicitly approved by the
                Nickfinder.com; and
              </li>
              <li>
                Soliciting personally identifiable information from anyone under
                the age of 18 for an illegal purpose or violating any applicable
                law regarding the health or well-being of minors.
              </li>
            </ul>
          </dd>
        </dl>
      </dd>
    </dl>
    <dl>
      <dd><b>Engaging in False Statements, Impersonation, or Fraud</b></dd>
    </dl>
    <dl>
      <dd>
        <dl>
          <dd>
            <ul>
              <li>
                Intentionally or knowingly posting content that constitutes
                libel or defamation;
              </li>
              <li>
                With the intent to deceive, posting content that is false or
                inaccurate;
              </li>
              <li>
                Attempting to impersonate another user or individual,
                misrepresenting your affiliation with any individual or entity,
                or using the username of another user with the intent to
                deceive; and
              </li>
              <li>Engaging in fraud.</li>
            </ul>
          </dd>
        </dl>
      </dd>
    </dl>
    <dl>
      <dd><b>Committing Infringement</b></dd>
    </dl>
    <dl>
      <dd>
        <dl>
          <dd>
            <ul>
              <li>
                Infringing copyrights, trademarks, patents, or other proprietary
                rights under applicable law.
              </li>
            </ul>
          </dd>
        </dl>
      </dd>
    </dl>
    <dl>
      <dd><b>Misusing Our Services for Other Illegal Purposes</b></dd>
    </dl>
    <dl>
      <dd>
        <dl>
          <dd>
            <ul>
              <li>
                Posting pornography or any other content that violates
                applicable law concerning pornography;
              </li>
              <li>
                Posting or trafficking in obscene material that is unlawful
                under applicable law; and
              </li>
              <li>
                Using the services in a manner that is inconsistent with
                applicable law.
              </li>
            </ul>
          </dd>
        </dl>
      </dd>
    </dl>
    <dl>
      <dd><b>Engaging in Disruptive and Illegal Misuse of Facilities</b></dd>
    </dl>
    <dl>
      <dd>
        <dl>
          <dd>
            <ul>
              <li>
                Posting or distributing content that contains any viruses,
                malware, worms, Trojan horses, malicious code, or other device
                that could harm our technical infrastructure or system or that
                of our users;
              </li>
              <li>
                Engaging in automated uses of the site that have not been
                approved by Nickfinder.com admin;
              </li>
              <li>
                Disrupting the services by placing an undue burden on a
                Nickfinder.com website or the networks or servers connected with
                a Nickfinder.com website;
              </li>
              <li>
                Disrupting the services by inundating any of the Nickfinder.com
                websites with communications or other traffic that suggests no
                serious intent to use the Nickfinder.com website for its stated
                purpose;
              </li>
              <li>
                Knowingly accessing, tampering with, or using any of our
                non-public areas in our computer systems without authorization;
                and
              </li>
              <li>
                Probing, scanning, or testing the vulnerability of any of our
                technical systems or networks unless all the following
                conditions are met:
              </li>
            </ul>
          </dd>
        </dl>
      </dd>
    </dl>
    <dl>
      <dd>
        <dl>
          <dd>
            <dl>
              <dd>
                <ul>
                  <li>
                    such actions do not unduly abuse or disrupt our technical
                    systems or networks;
                  </li>
                  <li>
                    such actions are not for personal gain (except for credit
                    for your work);
                  </li>
                  <li>
                    you report any vulnerabilities to Nickfinder.com developers
                    (or fix it yourself); and
                  </li>
                  <li>
                    you do not undertake such actions with malicious or
                    destructive intent.
                  </li>
                </ul>
              </dd>
            </dl>
          </dd>
        </dl>
      </dd>
    </dl>
    <p>
      We reserve the right to exercise our enforcement discretion with respect
      to the above terms.
    </p>

    <h3>5. Password Security</h3>
    <p>
      You are responsible for safeguarding your own password and should never
      disclose it to any third party.
    </p>

    <h3>6. Trademarks</h3>
    <p>
      Although you have considerable freedoms for re-use of the content on the
      Nickfinder.com, it is important that, at the Nickfinder.com, we protect
      our trademark rights so that we can protect our users from fraudulent
      impersonators. Because of this, we ask that you please respect our
      trademarks. All Nickfinder.com trademarks belong to the Nickfinder.com,
      and any use of our trade names, trademarks, service marks, logos, or
      domain names must be in compliance with these Terms of Use.
    </p>

    <h3>7. Licensing of Content</h3>
    <p>You agree to the following licensing requirements:</p>
    <ol>
      <li>
        <b>Text to which you hold the copyright:</b> When you submit text to
        which you hold the copyright, you agree to license it under
        <a
          rel="nofollow"
          href="https://creativecommons.org/publicdomain/zero/1.0/legalcode"
          >CreativeCommons CC0 1.0 Universal</a
        >
        <p>
          The only exception is if the Nickfinder.com edition or feature
          requires a different license. In that case, you agree to license any
          text you contribute under that particular license.
        </p>
        <p>
          Please note that these licenses do allow commercial uses of your
          contributions, as long as such uses are compliant with the terms.
        </p>
      </li>
      <li>
        <b>Importing text:</b> You may import text that you have found elsewhere
        or that you have co-authored with others, but in such case you warrant
        that the text is available under terms that are compatible with the
        CreativeCommons CC0 1.0 Universal License.
      </li>
      <li>
        <b>Non-text media:</b> Non-text media on the Nickfinder.com are
        available under a variety of different licenses that support the general
        goal of allowing unrestricted re-use and re-distribution. When you
        contribute non-text media, you agree to comply with the requirements for
        such licenses, and also comply with the requirements of the specific
        Nickfinder.com edition or feature to which you are contributing.
      </li>
      <li>
        <b>No revocation of license:</b> Except as consistent with your license,
        you agree that you will not unilaterally revoke or seek invalidation of
        any license that you have granted under these Terms of Use for text
        content or non-text media contributed to Nickfinder.com, even if you
        terminate use of our services.
      </li>
      <li>
        <b>Re-use:</b> Re-use of content that we host is welcome, though
        exceptions exist for content contributed under "fair use" or similar
        exemptions under copyright law.
        <p>
          When you re-use or re-distribute a text page developed by
          Nickfinder.com community, you agree to attribute Nickfinder.com
          Through hyperlink (where possible) or URL to the page or pages that
          you are re-using.
        </p>
        <p>
          In addition, please be aware that text that originated from external
          sources and was imported into a Nickfinder.com may be under a license
          that attaches additional attribution requirements. Users agree to
          indicate these additional attribution requirements clearly. Depending
          on the Nickfinder.com, such requirements may appear for example in a
          banner or other notations pointing out that some or all of the content
          was originally published elsewhere. Where there are such visible
          notations, re-users should preserve them.
        </p>
        For any non-text media, you agree to comply with whatever license under
        which the work has been made available. When re-using any content that
        we host, you agree to comply with the relevant attribution requirements
        as they pertain to the underlying license or licenses.
      </li>
    </ol>

    <h3>8. DMCA Compliance</h3>
    <p>
      The Nickfinder.com wants to ensure that the content that we host can be
      re-used by other users without fear of liability and that it is not
      infringing the proprietary rights of others. In fairness to our users, as
      well as to other creators and copyright holders, our policy is to respond
      to notices of alleged infringement that comply with the formalities of the
      Digital Millennium Copyright Act (DMCA). Pursuant to the DMCA, we will
      terminate, in appropriate circumstances, users and account holders of our
      system and network who are repeat infringers.
    </p>
    <p>
      However, we also recognize that not every takedown notice is valid or in
      good faith. In such cases, we strongly encourage users to file
      counter-notifications when they appropriately believe a DMCA takedown
      demand is invalid or improper. For more information on what to do if you
      think a DMCA notice has been improperly filed, you may wish to consult the
      <a rel="nofollow" href="//www.chillingeffects.org/">Chilling Effects</a>
      website.
    </p>
    <p>
      If you are the owner of content that is being improperly used on one of
      the Nickfinder.com without your permission, you may request that the
      content be removed under the DMCA. To make such a request, please use
      contact form.
    </p>

    <h3>9. Third-party Websites and Resources</h3>
    <p>
      You are solely responsible for your use of any third-party websites or
      resources. Although the Nickfinder.com contain links to third-party
      websites and resources, we do not endorse and are not responsible or
      liable for their availability, accuracy, or the related content, products,
      or services (including, without limitation, any viruses or other disabling
      features), nor do we have any obligation to monitor such third-party
      content.
    </p>

    <h3>10. Management of Websites</h3>
    <p>
      The community has the primary role in creating and enforcing policies
      applying to the different Nickfinder.com editions. At the Nickfinder.com,
      we rarely intervene in community decisions about policy and its
      enforcement. In an unusual case, the need may arise, or the community may
      ask us, to address an especially problematic user because of significant
      Nickfinder.com disturbance or dangerous behavior. In such cases, we
      reserve the right, but do not have the obligation to:
    </p>
    <ul>
      <li>
        Investigate your use of the service (a) to determine whether a violation
        of these Terms of Use, Nickfinder.com edition policy, or other
        applicable law or policy has occurred, or (b) to comply with any
        applicable law, legal process, or appropriate governmental request;
      </li>
      <li>
        Detect, prevent, or otherwise address fraud, security, or technical
        issues or respond to user support requests;
      </li>
      <li>
        Refuse, disable, or restrict access to the contribution of any user who
        violates these Terms of Use;
      </li>
      <li>
        Ban a user from editing or contributing or block a user's account or
        access for actions violating these Terms of Use, including repeat
        copyright infringement;
      </li>
      <li>
        Take legal action against users who violate these Terms of Use
        (including reports to law enforcement authorities); and
      </li>
      <li>
        Manage otherwise the Nickfinder.com in a manner designed to facilitate
        their proper functioning and protect the rights, property, and safety of
        ourselves and our users, licensors, partners, and the public.
      </li>
    </ul>
    <p>
      In the interests of our users and the Nickfinder.com, in the extreme
      circumstance that any individual has had his or her account or access
      blocked under this provision, he or she is prohibited from creating or
      using another account on or seeking access to the same Nickfinder.com,
      unless we provide explicit permission.
    </p>
    <p>
      Nickfinder.com community and its members may also take action when so
      allowed by the community policies applicable to the specific
      Nickfinder.com edition, including but not limited to warning,
      investigating, blocking, or banning users who violate those policies. You
      agree to comply with the final decisions of dispute resolution bodies that
      are established by the community or site administrator.
    </p>

    <h3>11. Resolutions and Nickfinder.com Policies</h3>
    <p>
      Administrator of the site releases official policies from time to time.
      Some of these policies may be mandatory for Nickfinder.com, and, when they
      are, you agree to abide by them as applicable.
    </p>

    <h3>12. Termination</h3>
    <p>
      Though we hope you will stay and continue to contribute to the
      Nickfinder.com, you can stop using our services any time. In certain
      (hopefully unlikely) circumstances it may be necessary for either
      ourselves or Nickfinder.com community or its members (as described in
      Section 10) to terminate part or all of our services, terminate these
      Terms of Use, block your account or access, or ban you as a user. If your
      account or access is blocked or otherwise terminated for any reason, your
      public contributions will remain publicly available. In such
      circumstances, however, you may not be able to access your account or
      settings. We reserve the right to suspend or end the services at any time,
      with or without cause, and with or without notice. Even after your use and
      participation are banned, blocked or otherwise suspended, these Terms of
      Use will remain in effect with respect to relevant provisions, including
      Sections 1, 3, 4, 6, 7, 9-15, and 17.
    </p>

    <h3>14. Disclaimers</h3>
    <p>
      At the Nickfinder.com, we do our best to provide educational and
      informational content to a very wide audience, but your use of our
      services is at your sole risk. We provide these services on an "as is" and
      "as available" basis, and we expressly disclaim all express or implied
      warranties of all kinds, including but not limited to the implied
      warranties of merchantability, fitness for a particular purpose, and
      non-infringement. We make no warranty that our services will meet your
      requirements, be safe, secure, uninterrupted, timely, accurate, or
      error-free, or that your information will be secure.
    </p>
    <p>
      We are not responsible for the content, data, or actions of third parties,
      and you release us, our directors, officers, employees, and agents from
      any claims and damages, known and unknown, arising out of or in any way
      connected with any claim you have against any such third parties. No
      advice or information, whether oral or written, obtained by you from us or
      through or from our services creates any warranty not expressly stated in
      these Terms of Use.
    </p>
    <p>
      Any material downloaded or otherwise obtained through your use of our
      services is done at your own discretion and risk, and you will be solely
      responsible for any damage to your computer system or loss of data that
      results from the download of any such material. You agree that we have no
      responsibility or liability for the deletion of, or the failure to store
      or to transmit, any content or communication maintained by the service. We
      retain the right to create limits on use and storage at our sole
      discretion at any time with or without notice.
    </p>
    <p>
      Some states or jurisdictions do not allow the types of disclaimers in this
      section, so they may not apply to you either in part or in full depending
      on the law.
    </p>

    <h3>15. Limitation on Liability</h3>
    Nickfinder.com will not be liable to you or to any other party for any
    direct, indirect, incidental, special, consequential or exemplary damages,
    including but not limited to, damages for loss of profits, goodwill, use,
    data, or other intangible losses, regardless of whether we were advised of
    the possibility of such damage. In no event shall our liability exceed one
    U.S. cent (USD 0.01) in aggregate. In the case that applicable law may not
    allow the limitation or exclusion of liability or incidental or
    consequential damages, the above limitation or exclusion may not apply to
    you, although our liability will be limited to the fullest extent permitted
    by applicable law.

    <h3>16. Modifications to these Terms of Use</h3>
    <p>
      It may be necessary to modify these Terms of Use from time to time without
      any notice. We ask that you please periodically review the most up-to-date
      version of these Terms of Use. Your continued use of our services after
      the new Terms of Use become official following the notice and review
      period constitutes an acceptance of these Terms of Use on your part. For
      the protection of the Nickfinder.com and other users like yourself, if you
      do not agree with our Terms of Use, you cannot use our services.
    </p>

    <h3>17. Other Terms</h3>
    <p>
      These Terms of Use do not create an employment, agency, partnership, or
      joint venture relationship between you and us, the Nickfinder.com. If you
      have not signed a separate agreement with us, these Terms of Use are the
      entire agreement between you and us. If there is any conflict between
      these Terms of Use and a signed written agreement between you and us, the
      signed agreement will control.
    </p>
    <p>
      You agree that we may provide you with notices, including those regarding
      changes to the Terms of Use, by email, regular mail, or postings on
      Nickfinder.com website.
    </p>
    <p>
      If in any circumstance, we do not apply or enforce any provision of these
      Terms of Use, it is not a waiver of that provision.
    </p>
    <p>
      You understand that, unless otherwise agreed to in writing by us, you have
      no expectation of compensation for any activity, contribution, or idea
      that you provide to us, the community, or Nickfinder.com.
    </p>
    <p>
      Not with standing any provision to the contrary in these Terms of Use, we
      (the Nickfinder.com) and you agree not to modify the applicable terms and
      requirements of any free license that is employed on the Nickfinder.com
      when such free license is authorized by these Terms of Use.
    </p>
    <p>
      These Terms of Use were written in English (U.S.). While we hope that
      translations of these Terms of Use are accurate, in the event of any
      differences in meaning between the original English version and a
      translation, the original English version takes precedence.
    </p>
    <p>
      If any provision or part of a provision of these Terms of Use is found
      unlawful, void, or unenforceable, that provision or part of the provision
      is deemed severable from these Terms of Use and will be enforced to the
      maximum extent permissible, and all other provisions of these Terms of Use
      will remain in full force and effect.
    </p>
    <p>
      Nickfinder.com is a participant in various other affiliate programs, and
      we sometimes get a commission through purchases made through our links.<br />
      <b>We show only non-personalized ads to users in the EEA</b>.
    </p>
    <p>
      Nickfinder.com uses
      <a rel="nofollow" href="https://adminlte.io/"
        >AdminLTE Control Panel Template v2.3.11</a
      >
      with modifications. "<i
        >Best open source admin dashboard & control panel theme. Built on top of
        Bootstrap 3, AdminLTE provides a range of responsive, reusable, and
        commonly used components</i
      >". AdminLTE is an open source project by AdminLTE.IO that is licensed
      under MIT.
    </p>
    <p id="notice1">
      <b>Nickfinder.com has no mobile app.</b>
      Any mobile applications using word "Nickfinder" in the title are not
      associated with Nickfinder.com.
    </p>

    <h3>Thank You!</h3>
    <p>
      We appreciate your taking the time to read these Terms of Use, and we are
      very happy to have you contributing to the Nickfinder.com and using our
      services. Through your contributions, you are helping to build something
      really big – not only an important collection of collaboratively edited
      reference Nickfinder.com that provides education and information to
      millions who might otherwise lack access, but also a vibrant community of
      like-minded and engaged peers, focused on a very noble goal.
    </p>
    <hr />

    <p class="color_gray copyright">
      This text is available under the Creative Commons Attribution-ShareAlike
      License; additional terms may apply.
    </p>
    <p class="color_gray copyright">
      Source: https://wikimediafoundation.org/wiki/Terms_of_Use/en. Text was
      modified.
    </p>
  </div>
</div>
